body{
    display: flex;
    justify-items: center;
    margin: 50px 400px;
    border: 2px solid black;
    flex-direction: column;
    max-width: 400px;
}

h3{
    background-color: rgb(126, 213, 169);
    font-size: 2rem;
    padding-left: 120px;
    color: white;
}


.eingabe input{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
    
}


.send input{
    display: flex;
    text-align: center;
    background-color: rgb(126, 213, 169);
    width: 380px;
    color: white;
}

.send input:hover {
    background-color: rgb(34, 184, 184);
}


